// _theme-toggle.scss

.theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  font-size: $font-size-xl;
  cursor: pointer;
  z-index: $z-index-header;

  i {
    color: $color-primary;
    transition: color $transition-duration $transition-ease;
  }

  &:hover i {
    color: $color-accent;
  }
}
