// php\static\scss\layout\_page-layout.scss

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 0 auto;
}

/* Handles the max-width and padding of the main content container */
.content-wrapper {
  width: 95%;
  max-width: $container-max-width;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0rem !important; 
  padding: $spacing-xl;

  @include respond(tablet-md, down) {
    padding: $spacing-md;
  }

  @include respond(phone-md, down) {
    padding: $spacing-sm;
  }
}
