// php\static\scss\themes\_light-mode.scss

body {
  background-color: #ffffff;
  background-image: url('/static/images/village.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  .top-bar {
    background-color: rgba($color-light, 0.95);

    .title {
      color: $color-primary;
    }

    .menu-icon,
    .theme-toggle {
      color: $color-primary;
    }
  }

  .menu-dropdown {
    background-color: $color-white;

    a {
      color: darken($color-light, 50%);

      &:hover,
      &.active {
        background-color: $color-accent;
        color: $color-white;
      }
    }
  }

  h2,
  h3 {
    color: $color-danger;
  }

  p {
    color: lighten($color-white, 20%);
  }

  @include respond(phone-md, down) {
    background-size: unset !important;
  }
}
