// php\static\scss\themes\_light-mode.scss

[data-theme="light"] {
  background-color: $color-white;
  background-image: url('/static/images/village.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-blend-mode: normal;

  @include respond(phone-md, down) {
    background-size: auto !important;
  }

  // Container
  .container {
    background-color: rgba($color-white, 0.95);
    box-shadow: $box-shadow-light;
  }

  // Top Bar
  .top-bar-wrapper {
    background-color: rgba($color-light, 0.95);
    backdrop-filter: blur(6px);

    .title,
    .menu-icon,
    .theme-toggle {
      color: $color-primary;
    }
  }

  // Dropdown Menus
  .menu-dropdown {
    background-color: $color-white;

    a {
      color: darken($color-light, 50%);

      &:hover,
      &.active {
        background-color: $color-accent;
        color: $color-white;
      }
    }
  }

  // Typography
  h2, h3 {
    color: $color-danger;
  }

  p {
    color: lighten($color-dark, 10%);
  }

  // Shard Form
  .shard-form {
    background-color: rgba($color-white, 0.80);
    box-shadow: $box-shadow-light;
  }

  label {
    color: $color-black;
  }

  .form-text {
    color: $color-muted;
  }

  input[type="text"],
  select {
    background: $color-white;
    color: $color-dark;
    border-color: $color-secondary;
  }

  // Floating Shard Display
  .floating-shard-display {
    p {
      color: rgb(245, 204, 101);
    }

    #result {
      color: #917251; 
    }
  }

  // Table styling
  .shard-chart {
    table {
      th {
        background-color: $color-primary;
        color: $color-white;
        border-color: #ddd;
      }

      td {
        color: $color-dark;
        border-color: #ddd;

      }

      .total-row td {
        color: $color-white;
      }

      .level-cell,
      .star-cell {
        background-color: $color-primary;
        color: $color-white;
      }

      // Optional: If you want different row backgrounds per group in light mode
      // Uncomment if needed:
      // .group-1 td { background-color: #fff4db; }
      // .group-2 td { background-color: #fce7dd; }
      // .group-3 td { background-color: #e4e4e4; }
    }
  }
}