.hero-header {
    text-align: center;
    margin-bottom: 20px;
}

.hero-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-header .hero-icon {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.hero-header .hero-roles {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.hero-header .hero-roles h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.roles-table {
    width: -webkit-fill-available;
    border-spacing: 10px;
    margin: 0 auto;
    text-align: left;
}

.roles-table td {
    padding: 10px;
}

/* Style for hero rarity */
.hero-rarity {
    font-size: 1.2em;
    color: #0074d9; /* Example color: adjust as needed */
    text-align: center;
    margin: 5px 0;
}

/* Style for hero faction */
.hero-faction {
    font-size: 1.1em;
    color: #28a745; /* Example green color for faction */
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
}

/* Bold prefix in role descriptions */
.roles-table .role-description-cell strong {
    font-weight: bold;
    color: #333; /* Adjust color as needed */
}

.faction-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px; /* Space between the icon and the text */
    margin-bottom: 5px;
}


body.dark-mode .roles-table .role-description-cell strong {
    color: white;
}


.role-icon-cell {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.role-prefix-cell {
    font-weight: bold;
    color: #333;
    width: max-content;
}


.role-description-cell {
    vertical-align: middle;
    position: relative; 
    color: black;
}

body.dark-mode .role-description-cell {
    color: white;
}


.role-icon {
    width: 32px;
    height: auto;
}

.hero-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.hero-tabs a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease;
}

.hero-tabs a.active {
    background-color: #007bff;
    color: #fff;
}

.hero-tabs a:hover {
    background-color: #0056b3;
    color: #fff;
}
