h2, h3 {
    text-align: center;
}

.dropdown-form {
    text-align: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hero-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.hero-card {
    text-align: center;
    width: 150px;
    /* padding: 10px;
    background: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.hero-card img {
    width: 100%;
    border-radius: 8px;
}

.hero-card p {
    margin: 10px 0 0;
    font-weight: bold;
}

.hero-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
