/* General layout styles */
.page-layout {
    display: flex;
    justify-content: space-between;
}

/* General container styling */
.container {
    max-width: 700px;
    margin: auto;
    background-color: rgb(230, 230, 230);
    background-image: url('/static/images/wood_texture.jpg'); /* Path to your texture image */
    background-repeat: repeat; /* Repeats the texture across the container */
    background-size: cover; /* Ensures the texture covers the entire container */
    box-shadow: 
        0px 2px 20px 20px rgba(0, 0, 0, 0.1), 
        -1px 0px 20px 20px rgba(0, 0, 0, 0.15), 
        1px 0px 40px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Internal padding */
    font-family: 'Arial', sans-serif;
    position: relative; /* To position floating elements inside */
    min-width: 50vw;
    overflow-y: auto; /* Enables scrolling if content overflows */
    max-height: 95vh; /* Limits container height */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

h2 {
    color: rgb(234, 85, 60);
}

h3 {
    color: rgb(248, 121, 64);
}

h2, h3 {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 0; /* Removes any additional raising effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(255 255 255 / 0%);
    margin: 0; /* Removes any margin for precise centering */
}


p {
    color: #fefefc;
}

/* Dark mode adjustments */
body.dark-mode .container {
    background-color: #56423d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.light-mode {
    background-image: url('/static/images/village.webp'); /* Path to the image */
    background-repeat: no-repeat; /* No repeat */
    background-position: center top; /* Center horizontally and align at the top */
    background-size: 100% 100%; /* Cover the entire screen */
    min-height: 102vh; /* Ensure the body spans the full viewport height */

}


.ad-container {
    width: 160px;
    display: none; /* Default hidden */
}

.main-container {
    flex: 1;
    margin: 0 auto;
    max-width: 700px;
}

/* Show ads in desktop mode */
@media (min-width: 1024px) {
    .ad-container {
        display: block;
        position: sticky;
        top: 0;
    }
}

/* Hamburger Menu Styling */
.hamburger-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}

.hamburger-menu i {
    font-size: 1.5rem;
    color: #b5cfff;
    transition: color 0.3s ease;
}

.hamburger-menu i:hover {
    color: #2f5596;
}

body.dark-mode .hamburger-menu i {
    color: #b5cfff;
}

.menu-dropdown {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Below the hamburger icon */
    left: 0;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border-radius: 5px;
    padding: 5px 0;
    z-index: 1000;
    min-width: 150px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu-dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
    white-space: nowrap; /* Prevent text wrapping */
}

.menu-dropdown a:hover {
    background-color: #2f5596;
    color: #ffffff;
}

.menu-dropdown a.active {
    background-color: #2f5596;
    color: #ffffff;
}

/* Show menu when active */
.menu-dropdown.show {
    display: block; /* Make it visible */
    opacity: 1;
    transform: translateY(0); /* Smooth transition */
}

.menu-dropdown.hidden {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}


/* Ensure the controls-bar does not extend past the container */
.controls-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -25px;
    margin-top: 10px;
}

/* Dark Mode Additions */
body.dark-mode {
    background-image: url('/static/images/night-village.webp'); /* Path to the image */
    background-repeat: no-repeat; /* No repeat */
    background-position: center top; /* Center horizontally and align at the top */
    background-size: 100% 100%; /* Cover the entire screen */
    background-blend-mode: overlay; /* Blend the gradient with the texture */
    min-height: 102vh; /* Ensure the body spans the full viewport height */
    background-color: #000000d6;

}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-primary {
    background-color: #2f5596;
    color: white;
}

button.btn-primary:hover {
    background-color: #1f3e6f;
}

button.btn-secondary {
    background-color: #cccccc;
    color: #333333;
}

button.btn-secondary:hover {
    background-color: #aaaaaa;
}

/* Layout for theme toggle */
.theme-toggle {
    position: relative;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    color: #b5cfff;
    float: right;
    z-index: 5;
}

body.dark-mode .theme-toggle {
    color: #b5cfff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .ad-container {
        display: block;
        margin: 10px auto;
        text-align: center;
    }

    .main-container {
        max-width: 100%;
    }

    .container {
        min-width: 90%;
    }

    .controls-bar {
        margin-top: 15px;
    }
    
    .light-mode {
        background-image: url('/static/images/village.webp'); /* Path to the image */
        background-repeat: no-repeat; /* No repeat */
        background-position: center top; /* Center horizontally and align at the top */
        background-size: cover; /* Cover the screen while maintaining aspect ratio */
        min-height: 102vh; /* Ensure the container spans the full viewport height */
    }

    body.dark-mode {
        background-image: url('/static/images/night-village.webp'); /* Path to the image */
        background-repeat: no-repeat; /* No repeat */
        background-position: center top; /* Center horizontally and align at the top */
        background-size: cover; /* Cover the screen while maintaining aspect ratio */
        min-height: 102vh; /* Ensure the container spans the full viewport height */
        background-blend-mode: overlay; /* Blend the gradient with the texture */
        background-color: #000000d6;
    }
}

@media (min-width: 769px) {
    .ad-container {
        display: block;
        margin: 20px auto;
        text-align: center;
    }

}
